<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    {% render 'elevar-head' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0"
    >
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    {%- render 'favicon' -%}

    {%- render 'stylesheet', name: "https://use.typekit.net/hkz4jpg.css" -%}
    {%- style -%}
      {%- render 'variables.css' -%}
    {%- endstyle -%}
    {%- render "stylesheet", name: "checkout" -%}

    <!-- Route Code Edited 08/05/2022 -->
    <script type="text/javascript" src="https://cdn.routeapp.io/route-widget-shopify/v2/route-widget-shopify-stable-v2.min.js"></script>
    <!-- Route Code End -->

  </head>
  <body id="checkout">
    {% render 'elevar-checkout-end' %}
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            <div class="alternative-payment-methods">
              {{ alternative_payment_methods }}
            </div>
          </header>
          
          <!-- Route Code Edited 06/17/2022 -->
          {% if content_for_layout contains 'data-step="contact_information"' %}
          <div class="route-div" desktop-align="left"></div>    
          {% endif %}
          <!-- Route Code End -->
                    
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}

    {%- render 'DY-checkout-scripts' -%}

    {%- for line in checkout.line_items -%}
    <script type="text/javascript">
        {%- if line.product.tags contains "Pre-Order" -%}
          Shopify.Checkout.OrderStatus.addContentBox(`{{ settings.checkout_pre_order_html }}`)
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
    </script>
  </body>
</html>
