<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'elevar-head' %}
     <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WCFSVFR');</script>
<!-- End Google Tag Manager -->
    {%- render 'DY-scripts' -%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="theme-color" content="{{ settings.color_primary }}">
    <link rel="preconnect" href="//cdn.shopify.com" crossorigin>

    <!-- Favicon -->
    {%- render 'favicon' -%}

    <!-- Title -->
    <title>
      {{ page_title }}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%}
        &ndash;
        {{- 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash;
        {{- 'general.meta.page' | t: page: current_page -}}
      {%- endif -%}
      {%- unless page_title contains shop.name -%}&ndash; {{ shop.name }}{%- endunless -%}
    </title>
    {% if template contains 'customers' %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}
    <!-- Meta Desc -->
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <!-- SEO and Social Media Meta -->
    {%- render 'social-meta-tags' -%}

    <!-- Shopify Header Hooks -->
    {{ content_for_header }}

    <!-- Hotjar Tracking Code for https://brandonblackwood.com/ -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 2920003, hjsv: 6 };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

    <!-- Font CSS -->
    {%- render 'stylesheet', name: 'https://use.typekit.net/hkz4jpg.css' -%}

    <!-- Critical CSS -->
    {%- style -%}
      {%- render 'variables.css' -%}
      {%- render 'critical.css' -%}
    {%- endstyle -%}

    <script type="text/javascript">
      document.querySelector('html').classList.remove('no-js', 'beforeunload');
    </script>

    <!-- Common/Main css file -->
    {%- assign common_css_url = 'common.css' | asset_url -%}
    {%- render 'stylesheet', name: common_css_url -%}

    <!-- Common/Main js file -->
    {%- render 'variables.js' -%}
    <script src="{{ 'common.js' | asset_url }}" defer></script>

    <!-- begin-boost-pfs-filter-css -->
    {% render 'boost-pfs-style' %}
    <!-- end-boost-pfs-filter-css -->

    <!-- globale_css_include -->
    {% include 'globale-css-include' %}
    <!-- end of globale_css_include -->
    {% render 'gift-card-pro' %}
    {%- if request.page_type == 'policy' -%}
      {% render 'stylesheet', name: 'page' %}
    {%- endif -%}
    {%- comment -%}
      TODO: Remove that
    {%- endcomment -%}
    {%- render 'stylesheet', name: 'swiper' -%}
  {% include 'sca.freegifts' %}
</head>
  <body
    id="{{ page_title | handle }}"
    class="{% if customer %}customer-logged-in {% endif %}template-{{ request.page_type | handle }} template-{{ template.name }}"
  >
  {% render 'elevar-body-end' %}
   <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WCFSVFR"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} {% if product.first_available_variant.price %}window.KlarnaThemeGlobals.data_purchase_amount = {{ product.first_available_variant.price }};{% endif %}window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>

    <component-loader class="page-wrapper">
      <header class="header">
        {%- section 'announcement-bar' -%}
        {%- section 'header' -%}
      </header>

      <main class="main" role="main" id="MainContent">
        {%- render 'breadcrumbs' -%}
        {%- if request.path contains '/policies' -%}
          {%- render 'page', content: content_for_layout, is_policy: true -%}
        {%- else -%}
          {{ content_for_layout }}
        {%- endif -%}
      </main>

      <footer class="footer">
        {%- section 'footer' -%}
      </footer>
        {%- section 'cart-notifications' -%}
    </component-loader>

    <!-- Cart JSON -->
    <script type="application/json" data-ajax-cart-initial-state>
      {{ cart | json }}
    </script>
    <script type="application/json" data-ajax-cart-configuration>
      {
        "requestErrorText": "{{ 'templates.cart.cart_error' | t }}",
        "lineItemQuantityErrorText": "{{ 'templates.cart.cart_quantity_error' | t }}"
      }
    </script>
{% comment %}
    {%- if template.name != 'cart' -%}
      {%- section 'main-cart' -%}
    {%- endif -%}
{% endcomment %}
    {%- if request.page_type == 'policy' -%}
      {% render 'policy-title-italic' %}
    {%- endif -%}

    <script src="{{ 'js-swiper.min.js' | asset_url }}"></script>
    {%- render 'component-loader' -%}

    <script>
      window.routes = {
        predictive_search_url: '{{ routes.predictive_search_url }}',
      };

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      };
    </script>

    <!-- begin-boost-pfs-js -->
    {% render 'boost-pfs' %}
    <!-- end-boost-pfs-js -->

    {%- if template contains 'product' -%}
      <!-- Product Structured Data -->
      {% render 'product-structured-data' %}
    {%- endif -%}

    <!-- Gorgias Chat Widget Start -->
    <script id="gorgias-chat-widget-install">
      !(function (_) {
        (_.GORGIAS_CHAT_APP_ID = '10171'),
          (_.GORGIAS_CHAT_BASE_URL = 'us-east1-898b.production.gorgias.chat'),
          (_.GORGIAS_API_BASE_URL = 'config.gorgias.chat');
        var e = new XMLHttpRequest();
        e.open('GET', 'https://config.gorgias.chat/applications/10171', !0),
          (e.onload = function (t) {
            if (4 === e.readyState)
              if (200 === e.status) {
                var n = JSON.parse(e.responseText);
                if (!n.application || !n.bundleVersion)
                  throw new Error(
                    'Missing fields in the response body - https://config.gorgias.chat/applications/10171'
                  );
                if (
                  ((_.GORGIAS_CHAT_APP = n.application),
                  (_.GORGIAS_CHAT_BUNDLE_VERSION = n.bundleVersion),
                  n && n.texts && (_.GORGIAS_CHAT_TEXTS = n.texts),
                  n && n.sspTexts && (_.GORGIAS_CHAT_SELF_SERVICE_PORTAL_TEXTS = n.sspTexts),
                  !document.getElementById('gorgias-chat-container'))
                ) {
                  var o = document.createElement('div');
                  (o.id = 'gorgias-chat-container'), document.body.appendChild(o);
                  var r = document.createElement('script');
                  r.setAttribute('defer', !0),
                    (r.src = 'https://client-builds.production.gorgias.chat/{bundleVersion}/static/js/main.js'.replace(
                      '{bundleVersion}',
                      n.bundleVersion
                    )),
                    document.body.appendChild(r);
                }
              } else console.error('Failed request GET - https://config.gorgias.chat/applications/10171');
          }),
          (e.onerror = function (_) {
            console.error(_);
          }),
          e.send();
      })(window || {});
    </script>
    <script id="gorgias-chat-shopify-install">
      !(function (_) {
        (_.SHOPIFY_PERMANENT_DOMAIN = '{{shop.permanent_domain}}'),
          (_.SHOPIFY_CUSTOMER_ID = '{{customer.id}}'),
          (_.SHOPIFY_CUSTOMER_EMAIL = '{{customer.email}}');
      })(window || {});
    </script>
    <!-- Gorgias Chat Widget End -->

    <!-- globale_js_include -->
    {% include 'globale-js-include' %}
    <!-- end of globale_js_include -->

    <div id="instagram-feed-box" class="hidden"></div>
    <div id="instagram-stories-box" class="hidden"></div>
    {%- render 'preorder-now' -%}
    {%- render 'subscribe-it-helper' -%}
    {%- render 'swymSnippet' -%}
    {%- render 'swym-custom' -%}
    {%- if template contains 'collection' -%} 
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        $(document).ready(function() {
            $('.em-read-default').append(' <a href="javascript&colon;void(0);" class="cus-read0 read-more-btn">read more</a>');
            $('.em-read-more').append(' <a href="javascript&colon;void(0);" class="cus-read0 read-less-btn">read less</a>');   
            $('.read-more-btn').click(function(){ 
                $(this).hide();
                $('.em-read-more').addClass('active');  
            });
            $('.read-less-btn').click(function(){  
              $(this).parent().removeClass('active');
               $('.read-more-btn').show();
            });
        });
      </script>
    {%- endif -%}    
    

</body>
</html>
