{%- render 'stylesheet', name: 'coming-soon' -%}
{%- render 'stylesheet', name: 'form' -%}

{%- liquid
  assign footer = section.settings

  assign email_placeholder_height = footer.email_placeholder_height
-%}
 
{%- capture site_logo -%}
  <a href="{{ shop.url }}">
    {%- if section.settings.main_logo_image_svg != blank -%}
   <span>{{ section.settings.main_logo_image_svg }}</span>
  {%- elsif section.settings.main_logo_image -%}
    {{ section.settings.main_logo_image | image_url: width: 363, height: 13 | image_tag: preload: true, loading: "lazy" }}
  {%- endif -%}
  <h1 class="site-name visually-hidden">{{ shop.name }}</h1>
  </a>
{%- endcapture -%}
 
<div class="coming-soon">
    <a data-storefront-toggle class="storefront-toggle" href="#"> {% render 'icon-lock' %} {{ 'templates.password.storefront_link' | t }}  </a>
    <div class="coming-soon__image--wrapper">
        {%- if section.settings.main_image != blank -%}
          {{ section.settings.main_image.src | image_url: width: 1920, height: 1080 | image_tag: class: "desktop__image", alt: section.settings.main_image.alt }}
        {%- endif -%}
        {%- if section.settings.main_image != blank -%}
          {{ section.settings.main_image.src | image_url: width: 664, height: 446 | image_tag: class: "mobile__image", alt: section.settings.main_image.alt }}
        {%- endif -%}
    </div> 
    <div class="coming-soon__counter">
      <div class="page_logo">
        {{- site_logo -}}
      </div>
      {%- if section.settings.page_content != blank -%}
        {{ section.settings.page_content }}
      {%- endif -%}
      {%- if section.settings.counter_date != blank -%}
        <div class="counter__clock">
          <counter-down class="counter__component" data-date="{{ section.settings.counter_date }}">
            <div class="time__wrapper">
              <b id="counter__days"></b>
              <p>{{ 'templates.password.days' | t }}</p>
            </div>
            <span class="seperator">:</span>
            <div class="time__wrapper">
              <b id="counter__hours"></b>
              <p>{{ 'templates.password.hours' | t }}</p>
            </div>
            <span class="seperator">:</span>
            <div class="time__wrapper">
              <b id="counter__minutes"></b>
              <p>{{ 'templates.password.mins' | t }}</p>
            </div>
            <span class="seperator">:</span>
            <div class="time__wrapper">
              <b id="counter__seconds"></b>
              <p>{{ 'templates.password.secs' | t }}</p>
            </div>
          </counter-down>
        </div> 
      {%- endif -%}
      <div data-storefront-newsletter class="email__form--wrapper" style="
        {%- if email_placeholder_height != blank -%}
          --email-placeholder-height: {{ email_placeholder_height }}px;
        {%- endif -%}
      ">
      <div class="email__form">
        {{ section.settings.newsletter_form }}
      </div> 
      </div>
      <div class="storefront-password hidden">
        {% form 'storefront_password', class: "password-page__form", data-js-element: "form" %}
        <div class="input-wrapper">
          <input type="password" name="password"
          id="Password"
          required
          class="customer__input"
          autocomplete="off"
        >
        <label for="customer_password">{{ 'templates.password.storefront_password' | t }}</label>
        </div>
        <button type="submit" name="commit"> {{ 'templates.password.storefront_enter'  | t }} </button>
      {% endform %}
      </div>
      <ul class="social__icons-list">
        {%- if section.settings.social-links != blank -%} 
          {% for social_link_element in section.settings.social-links.links %}
            <li class="list__item">
              <a target="_blank"  rel="noopener" aria-label="Follow us on {{ social_link_element.title }}" href="{{ social_link_element.url }}">
                {%- assign icon_name = social_link_element.title | downcase -%}
                {%- render 'social-icons' icon: icon_name -%}
              </a> 
            </li>
          {% endfor %}
        {%- endif -%}
      </ul> 
    </div>
</div>

<script>
  const storefrontToggle = document.querySelector('[data-storefront-toggle]');
  const storefrontPassword = document.querySelector('.storefront-password');
  const storefrontNewsletter = document.querySelector('[data-storefront-newsletter]');

  storefrontToggle.addEventListener('click', () => {
      storefrontPassword.classList.toggle("hidden");
      storefrontNewsletter.classList.toggle("hidden");
  })
</script>

{% schema %} 
{
  "name": "Password",
  "tag": "section",
  "class": "section-password",
  "settings": [
    {
      "type": "text",
      "id": "counter_date",
      "info": "Example: October 17, 2022 20:00:00 EDT",
      "label": "Counter time"
    },
    {
      "type": "richtext",
      "id": "page_content",
      "label": "Page content"
    },
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Desktop background image"
    },
    {
      "type": "image_picker",
      "id": "main_mobile_image",
      "label": "Mobile background image"
    },
    {
      "type": "html",
      "id": "main_logo_image_svg",
      "label": "Logo (SVG)"
    },
    {
      "type": "image_picker",
      "id": "main_logo_image",
      "label": "Logo image" 
    },
    {
      "type": "liquid",
      "id": "newsletter_form",
      "label": "Newsletter form",
      "default": "<div class='klaviyo-form-UF6Be6'></div>"
    },
    {
      "type" : "link_list",
      "id" : "social-links",
      "label" : "Page social icons"
    },
    {
      "type": "number",
      "id": "email_placeholder_height",
      "label": "Email form placeholder height"
    }
  ],
  "blocks": []
}
{% endschema %}
