{%- render 'globale-order' -%}
{%- render 'stylesheet', name: 'order-details' -%}
{%- render 'stylesheet', name: 'account' -%}
{%- render 'tag-script', name: 'account', loading: 'defer' -%}

<div class="order">
  {%- render 'account-banner', account_banner_text: 'templates.account_dashboard.account_sidebar.account_sidebar_dash_t' -%}
  <div class="order-details">
    {%- render 'account-sidebar' -%}
    {%- render 'account-mobile-sidebar' -%}
    <div class="details__container">
      <div class="details__header">
        <a href="{{ routes.account_url }}" class="a-default-link">
          {%- render 'icon-left-chevron' -%}
          {{- 'templates.order.order_details.order_back' | t -}}
        </a>
        <div class="details__order--wrapper">
          <p class="details__order--number">{{ 'templates.order.order_details.order_txt' | t }}</p>
          <h2>
            {{- order.order_number | prepend: '#' -}}
          </h2> 
        </div>
        <p class="details__order--date">{{- order.created_at | date: '%B %d, %Y %l:%M %p' -}}</p>
          {%- if order.cancelled -%}
          {%- assign cancelled_at = order.cancelled_at | date: '%B %d, %Y %l:%M %p'-%}
          <p class="details__order--date">{{ 'templates.order.order_details.order_cancelled_html' | t: date: cancelled_at  }}</p>
          <p class="details__order--date">{{ 'templates.order.order_details.order_cancelled_reason' | t: reason: order.cancel_reason_label }}</p>
        {%- endif -%}
        <div class="details__order--actions"> 
          {%- if order.tags contains 'globale' -%}
            <a
              target="_blank"
              href="https://web.global-e.com/order/track?OrderID={{ order.name }}&ShippingEmail={{ order.email }}"
              class="d-action__btn dark-btn button-1"
            >
              {{ 'templates.order.order_details.order_track_txt' | t }}
            </a>
          {%- endif -%} 
          <a
            href="https://returns.brandonblackwood.com/start_return?ext_order_number={{ order.name }}&customer_id={{ customer.id }}"
            class="d-action__btn light-btn button-1 button-1--alt"
          >
            {{ 'templates.order.order_details.order_start_return_txt' | t }}
          </a>
        </div>
      </div>
      <div class="details__info-container">
        {%- render 'detail-header', subtitle:  'templates.order.order_details.order_order_info' -%}
        <div class="details__addresses">
          <div class="address__collection">
              <div class="a-collection__item">
                <h3 class="addres__counter">{{ 'templates.order.order_details.order_order_billing_address' | t }}</h3>
                <div class="address__formatter">
                  {{ order.billing_address | format_address  }}
                </div>
              </div>
              <div class="a-collection__item">
                <h3 class="addres__counter">{{ 'templates.order.order_details.order_order_shipping_address' | t }}</h3>
                <div class="address__formatter">
                  {{ order.shipping_address | format_address  }}
                </div>
              </div>
            <div class="a-collection__item">
              <h3 class="addres__counter">{{- 'templates.order.order_details.order_order_payment_status' | t -}}</h3>
              <p class="detail__info mt-md">{{- order.financial_status_label -}}</p>
            </div>
            <div class="a-collection__item">
              <h3 class="addres__counter">{{- 'templates.order.order_details.order_order_fulfillment_status' | t -}}</h3>
              <p class="detail__info mt-md">{{- order.fulfillment_status_label -}}</p>
            </div>
          </div> 
        </div>
      </div>
      <div class="order__products">
        <table id="orders-table" class="orders__table">
          <thead>
            <tr class="table__header-row" data-table="order-details">
              <th data-th-place="order" class="table__header-item">
                {{ 'templates.order.order_details.order_order_table_product' | t }}
              </th>
              <th data-th-place="order" class="table__header-item">
                {{ 'templates.order.order_details.order_order_table_price' | t }}
              </th>
              <th data-th-place="order" class="table__header-item">
                {{ 'templates.order.order_details.order_order_table_quantity' | t }}
              </th>
              <th data-th-place="order" class="table__header-item">
                {{ 'templates.order.order_details.order_order_table_total' | t }}
              </th>
            </tr>
          </thead>
          <tbody class="table__body">
            {% for line_item in order.line_items %}
              <tr class="table__body-row" data-table="order-details" data-tr="desktop">
                <td data-td-place="order" class="table__body-item media-td">
                  {%- if line_item.image -%}
                    {{ line_item.image.src | image_url: width: 80, height: 100 | image_tag: preload: true, class: "line__item-image", loading: "lazy", alt: line_item.image.alt }}
                  {%- endif -%}
                  <div>
                    <div>
                      <p class="line__item-main-info">{{ line_item.product.title }}</p>
                      {%- if line_item.line_level_discount_allocations != blank -%}
                        {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                        {% render 'discount-icon' %}   {{ discount_allocation.discount_application.title }}  -{{ discount_allocation.amount | money -}}
                        {%- endfor -%} 
                      {%- endif -%}
                      {%- if line_item.variant.title != 'Default Title' -%}
                        {% assign variantOptions = line_item.variant.title | split: ' / ' %}
                        {% assign count = 0 %}
                        {% for option in line_item.product.options_with_values %}
                          <p class="line__item-main-info">{{ variantOptions[count] }}</p>
                          {% assign count = count | plus: 1 %}
                        {% endfor %}
                      {%- endif -%}
                    </div>
                    <div>
                      {%- if line_item.fulfillment -%}
                        {%- if line_item.fulfillment.created_at != blank -%}
                          <p class="line__item-secondary-info">
                            {{ order.fulfillment_status_label }}
                            {{ line_item.fulfillment.created_at | date: '%B %d, %Y' }}
                          </p>
                        {%- endif -%}
                        {%- if line_item.fulfillment.tracking_number != blank -%}
                          <a href="{{ line_item.fulfillment.tracking_url }}" class="line__item-secondary-info">
                            {{- line_item.fulfillment.tracking_company }} {{ line_item.fulfillment.tracking_number | prepend: '#' -}}
                          </a>
                        {%- endif -%}
                      {%- endif -%}
                    </div>
                  </div>
                </td>
                <td data-td-place="order" class="table__body-item">
                  {%- if line_item.line_level_discount_allocations != blank -%}
                    {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                      <p class="discount__price">{{ discount_allocation.amount | money -}}</p>
                    {%- endfor -%}
                  {%- endif -%}
                  {{ line_item.final_line_price | money }}
                </td>
                <td data-td-place="order" class="table__body-item">{{ line_item.quantity }}</td>
                <td data-td-place="order" class="table__body-item">
                  {%- if line_item.line_level_discount_allocations != blank -%}
                    {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                      <p class="discount__price">{{ discount_allocation.amount | money -}}</p>
                    {%- endfor -%}
                  {%- endif -%}
                  {{ line_item.final_price | money }}
                </td>
              </tr>
              <tr class="table__body-row" data-table="order-details" data-tr="mobile">
                <td data-td-place="order" class="table__body-item media-td">
                  {%- if line_item.image -%}
                  {{ line_item.image | image_url: width: 80, height: 100 | image_tag: preload: true, class: "line__item-image", alt: line_item.image.alt }}
                  {%- endif -%}
                  <div>
                    <div class="line_item-info">
                      <p class="line__item-main-info">{{ line_item.product.title }}</p>
                      
                      {%- if line_item.variant.title != 'Default Title' -%}
                        {% assign variantOptions = line_item.variant.title | split: ' / ' %}
                        {% assign count = 0 %}
                        {% for option in line_item.product.options_with_values %}
                          <p class="line__item-main-info">{{ variantOptions[count] }}</p>
                          {% assign count = count | plus: 1 %}
                        {% endfor %}
                      {%- endif -%}
                      <div class="mobile__info--wrapper">
                        {%- if line_item.line_level_discount_allocations != blank -%}
                          {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                           {% render 'discount-icon' %} {{ discount_allocation.discount_application.title }}  -{{ discount_allocation.amount | money -}}
                          {%- endfor -%} 
                        {%- endif -%}
                        <p class="price__info--mobile">{{  line_item.final_line_price | money }}</p>
                      </div>
                      <div class="mobile__info--wrapper">
                        {{ 'templates.order.order_details.order_order_table_quantity_cap' | t }}
                        <p class="price__info--mobile">{{ line_item.quantity }}</p>
                      </div>
                      <div class="mobile__info--wrapper">
                        {{ 'templates.order.order_details.order_order_table_total' | t }}
                        <p class="price__info--mobile">{{ line_item.final_price | money }}</p>
                      </div>
                    </div>
                    
                    {%- if line_item.fulfillment != blank -%}
                      <div>
                        <p class="line__item-secondary-info">
                          {{ order.fulfillment_status_label }}
                          {{ line_item.fulfillment.created_at | date: '%B %d, %Y' }}
                        </p>
                        {%- if line_item.fulfillment.tracking_number != blank -%}
                          <a href="{{ line_item.fulfillment.tracking_url }}" class="line__item-secondary-info">
                            {{- line_item.fulfillment.tracking_company }}
                            {{- line_item.fulfillment.tracking_number | prepend: '#' -}}
                          </a>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="order_summary">
          <div class="order_summary_info">
            <div class="summary_item">
              <p>{{- 'templates.order.order_details.order_order_summary_subtotal' | t -}}</p>
              <p>{{- order.line_items_subtotal_price | money -}}</p>
            </div>
            {%- if order.cart_level_discount_applications != blank -%}
              <div class="summary_item">
                <p>{{ 'templates.order.order_details.order_order_summary_discount' | t }}</p>
                {% for discount_application in order.cart_level_discount_applications %}
                  <p>- {{ discount_application.total_allocated_amount | money }}</p>
                {%- endfor -%}
              </div>
            {%- endif -%}
            {%- for tax_line in order.tax_lines -%}
              <div class="summary_item">
                <p>{{ 'templates.order.order_details.order_order_summary_tax' | t }} ({{ tax_line.title }})</p>
                <p>{{ tax_line.price | money }}</p>
              </div>
            {%- endfor -%}
            {%- if order.total_duties -%}
              <div class="summary_item">
                <p>{{ 'templates.order.order_details.order_total_duties' | t }}</p>
                <p>{{ order.total_duties | money }}</p>
              </div>
            {%- endif -%}
            <div class="summary_item">
              {%- for shipping_method in order.shipping_methods -%}
                <p>{{ 'templates.order.order_details.order_order_summary_shipping' | t }} ({{ shipping_method.title }})</p>
                <p>{{ shipping_method.price | money }}</p>
              {%- endfor -%}
            </div>
            <div class="summary_item">
              <p>{{- 'templates.order.order_details.order_order_table_total' | t -}}</p>
              <p>{{- order.total_price | money -}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Order",
  "tag": "section",
  "class": "section-order",
  "settings": [],
  "blocks": []
}
{% endschema %}
