{%- render 'stylesheet', name: 'product-card' -%}
{%- render 'stylesheet', name: 'rte' -%}
{%- render 'stylesheet', name: 'collection' -%}
{%- render 'tag-script', name: 'collection', loading: 'defer' -%}

{%- liquid
  assign title = collection.title | escape
  assign description = collection.description
  assign image = collection.image
  assign collection_has_products = true
  
  if collection.products_count == 0
    assign collection_has_products = false
  endif

  assign tab_menu = section.settings.tab_menu
  assign no_products_text = section.settings.no_products_text
  assign backup_collection = section.settings.backup_collection

  assign feed_inline_image = collection.metafields.inline.image
  if feed_inline_image != blank
    assign feed_inline_image = feed_inline_image | image_url: height: 540
  endif
  assign feed_inline_image_title = collection.metafields.inline.title | escape
  assign feed_inline_image_btn_label = collection.metafields.inline.label | escape
  assign feed_inline_image_btn_url = collection.metafields.inline.url | escape

  assign is_all_products_page = false
  if collection.handle == 'all'
    assign is_all_products_page = true
  endif
-%}

<script type="application/json" class="collection__data">
  {
    "t": {
      "filters": "{{ 'templates.collection.filters' | t }}",
      "sort": "{{ 'templates.collection.sort' | t }}",
      "sold_out": "{{ 'products.labels.sold_out' | t }}",
      "pre_order": "{{ 'products.labels.pre_order' | t }}",
      "coming_soon": "{{ 'products.labels.coming_soon' | t }}"
    }
  }
</script>

<div 
  class="collection__header"
  data-has-image="{%- if image != blank -%} true {%- else -%} false {%- endif -%}"
  data-has-description="{%- if description != blank -%} true {%- else -%} false {%- endif -%}"
>
  <div class="collection__copy">
    {%- if title != blank -%}
      <h1 class="collection__title">
        {%- render 'italic-first-word', text: title -%}
      </h1>
    {%- endif -%}
  
    {%- if description != blank -%}
      <div class="collection__description rte">{{ description }}</div>
    {%- endif -%}
  </div>
  {%- if image != blank -%}
    <div class="collection__image-box">
      <img src="{{ image.src | image_url: width: 1920 }}" loading="lazy" class="collection__image" />
    </div>
  {%- endif -%}
</div>

<div 
  class="collection__content collection__content--original"
  data-has-products="{{ collection_has_products }}"
  data-feed-inline-image="{{ feed_inline_image }}"
  data-feed-inline-image-title="{{ feed_inline_image_title }}"
  data-feed-inline-image-btn-label="{{ feed_inline_image_btn_label }}"
  data-feed-inline-image-btn-url="{{ feed_inline_image_btn_url }}"
>
  <div class="collection__content-main">
    {%- if is_all_products_page and tab_menu -%}
      {%- render 'tab-menu' with
        tab_menu: tab_menu 
      -%}
    {%- endif -%}
    {%- paginate collection.products by 25 -%}
      <div class="collection__products">
        {%- for product in collection.products -%}{% comment %}EasylockdownFilterBegin{% endcomment %}{% capture easylockdownFilter %}{% render 'easylockdown_filter_collection' with product, easylockdownRender: true, easylockdownItemSelectorOff: easylockdownItemSelectorOff %}{% endcapture %}{% assign easylockdownFilter = easylockdownFilter | strip %}{% if easylockdownFilter == 'continue' %}{% continue %}{% else %}{{ easylockdownFilter }}{% endif %}{% comment %}EasylockdownFilterEnd{% endcomment %}
          {%- render 'product-card' with product: product -%}
          {%- if forloop.index == 12 and feed_inline_image != blank -%}
            {%- render 'collection-feed-inline-image' with
              feed_inline_image: feed_inline_image,   
              feed_inline_image_title: feed_inline_image_title,   
              feed_inline_image_btn_label: feed_inline_image_btn_label,
              feed_inline_image_btn_url: feed_inline_image_btn_url   
            -%}
          {%- endif -%}
        {%- endfor -%}
        {%- if collection.products_count == 0 -%}
          <div class="collection__message">{{ no_products_text }}</div>
        {%- endif -%}
      </div>
      <div class="collection__pagination">
        {%- render 'pagination', paginate: paginate -%}
      </div>
    {% endpaginate %}
  </div>

  {%- if collection_has_products == false and backup_collection != blank -%}
    <div class="collection__content-backup">
      {%- liquid 
        assign title = backup_collection.title
        assign collection = backup_collection
        assign footer_button_text = 'templates.collection.shop_all' | t
        assign footer_button_link = routes.all_products_collection_url
      -%}
      
      {%- 
        render 'product-list' with
        title: title,
        collection: collection,
        footer_button_text: footer_button_text,
        footer_button_link: footer_button_link 
      -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Collection",
  "tag": "section",
  "class": "section-collection",
  "settings": [
    {
      "type": "link_list",
      "id": "tab_menu",
      "label": "Tab menu",
      "info": "Visible only on 'collections/all' page"
    },
    {
      "type": "richtext",
      "id": "no_products_text",
      "label": "'No products found' text",
      "info": "Visible only when initially requested collection is empty"
    },
    {
      "type": "collection",
      "id": "backup_collection",
      "label": "Backup collection",
      "info": "Visible only when initially requested collection is empty"
    }
  ],
  "blocks": []
}
{% endschema %}